@model IEnumerable<crud_pessoa.Models.Entity.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Cadastrar uma nova pessoa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td id="txtCPF">
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function ()
        {
            $('#txtCPF').mask('000.000.000-00', { reverse: true });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}